.accordionAbout {
  width: 80%;
  margin-bottom: 30px;
}
.accordionLogement {
  width: 47%;
}

.title {
  background: var(--color1);
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: fit-content;
  cursor: pointer;
}
.title h2 {
  margin: 5px;
}
.titleText {
  font-size: 1.125rem;
  margin: 10px;
}

.content {
  background: var(--color2);
  border-radius: 5px;
  color: var(--color1);
  padding: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  height: 70%;
  min-height: fit-content;
}

.contentLogement {
  font-size: 1.125rem;
}

.hidden {
  display: none;
}
