.infos {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: var(--color1);
}

.titleLocation h1 {
  font-size: 2.25rem;
  margin: 0;
}
.location {
  font-size: 1.125rem;
}

.hostRatings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.host {
  display: flex;
  justify-content: space-between;
  width: 190px;
}
.host p {
  font-size: 1.125rem;
}

.host img {
  border-radius: 100%;
  width: 64px;
  height: 64px;
}

.tagsRating {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  justify-content: flex-start;
  color: white;
}

.tags p {
  background: var(--color1);
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 10px 0 0;
}

.collapses {
  margin: 40px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 533px) {
  .infos {
    display: block;
  }
  .titleLocation h1 {
    font-size: 18px;
  }
  .location {
    font-size: 14px;
  }
  .tags p {
    font-size: 10px;
  }
  .hostRatings {
    flex-direction: row-reverse;
    margin-top: 10px;
  }
  .host {
    width: 120px;
  }
  .host p {
    font-size: 12px;
  }
  .host img {
    width: 32px;
    height: 32px;
  }
  .rating {
    width: 105px;
  }
  .rating img {
    width: 15px;
  }

  .collapses {
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }
}

@media screen and (max-width: 425px) {
}
