@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  list-style-type: none;
  text-decoration: none;
}

body {
  --color1: #FF6060;
  --color2: #F7F7F7;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 678px) {
  
}